{:telnet {
   ;; (reduce + (map int "HexagramMUSH"))
   :port 1130
   :ssl {:enabled? true
         :fqdn "hexagram30.mush"
         :pkey-bits 4096}}
 :nrepl {
   :port 1131}
 :logging {
   :level :debug
   :nss [io.netty clojure.tools.nrepl taoensso.carmine hxgm30]}
 :httpd {
   :port 1180}
 :backend {
   :plugin :redis
   :redis {
     :host "localhost"
     :port 6379}}}
