{:backend {
   :plugin :redis
   :subtype :graphdb
   :db {
     :redis {
       :host "localhost"
       :port 6389}}
   :graphdb {
     :redis {
       :host "localhost"
       :port 6379}}}
 :httpd {
   :port 1180}
 :lang {
   :generator {
     :default-mode :markov}}
 :logging {
   :level :debug
   :nss [io.netty clojure.tools.nrepl taoensso.carmine hxgm30]
   :color true}
 :nrepl {
   :port 1131}
 :rng {
   :algorithm :non-blocking
   :seed-bytes 1024}
 :terminal {
   :telnet {
     ;; (reduce + (map int "HexagramMUSH"))
     :port 1130}
   :telnet-ssl {
     :port 1122
     :key-gen {
       :fqdn "mush.hexagram30.cnbb."
       :pkey-bits 4096}}
   :connection {
     :threads 1
     :worker {
       :threads 2}}}}
